<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414484440260-ag1du7n2ujlnc746f9inb0be42b260hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414484440260-ag1du7n2ujlnc746f9inb0be42b260hr</string>
	<key>API_KEY</key>
	<string>AIzaSyB6vQwNBSH1VVbO5ANXCA1-7jybMVxAVzY</string>
	<key>GCM_SENDER_ID</key>
	<string>414484440260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beerRecipe</string>
	<key>PROJECT_ID</key>
	<string>beer-recipe</string>
	<key>STORAGE_BUCKET</key>
	<string>beer-recipe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414484440260:ios:96915859915e89e0e69591</string>
</dict>
</plist>